body {
  padding-top: 50px;
  overflow: scroll;
}
.container-fluid{
  width: 80%;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.popover-title {
    background-color: #2a6496;
    color: #FFFFFF;
}
.popover.bottom>.arrow {
  top: -11px !important;
}
.popover{
  max-width: none;
}
.navbar-toggle{
  float: left;
  padding: 9px 20px;
  margin-left: 10px
}
.navbar-inverse {
  background-color: #255575;
  border-color: #000000;
}
.navbar-inverse .navbar-toggle{
  border-color: #fff;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
  background-color: #4485B1;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #4485B1;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
  color: #6CAFDD;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
  background-color: transparent;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus{
  background-color: #4485B1;
  color: #fff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: #6CAFDD;
}
.table, th, td{
  border: 1px solid rgb(221, 221, 221);
  margin: 0 auto;
  max-width: 100%;
}
.today{
  background-color: rgba(22, 126, 195, 0.1)!important;
}
.table{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.table td{
  max-width: auto;
  min-width: 150px;
}
.table th{
  text-align: center;
  vertical-align: middle;
}
.table td:first-child{
  text-align: center;
  max-width: auto;
  padding: 0;
}
.card{
  width: 100%;
  border-bottom: 1px solid rgb(221, 221, 221);
  float: left;
  clear: both;
  max-width: auto;
  /*font-size: 50%;*/
}
.table>tbody>tr>td{
  vertical-align: middle;
}

.card:last-child{
  border-bottom: 0px;
}
.card > .subject{
  width: auto;
  text-align: center;
  font-size: 75%;
  float: left;
}
.card > .teacher{
  width: auto;
  text-align: center;
  font-size: 90%;
  float: right;
}
.card > .group{
  width: auto;
  text-align: center;
  font-size: 75%;
  float: right;
  padding-left: 20px;
}
.card > .classroom{
  width: auto;
  text-align: center;
  font-size: 75%;
  float: left;
  clear: both;
}
.dropdown-menu{
  max-height: 500px;
  overflow-y: auto;
}
.caret{
  margin-left: 5px;
}
#error{
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20%;
}
#error div.panel.panel-danger div.panel-heading h3.panel-title{
  text-align: center;
}
#error div.panel.panel-danger div.panel-body{
  text-align: center;
}
@media print {
  @page{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
    max-height: 100%;
  }
  a[href]:after {
    content: "";
  }
  body{
    margin-top: -30px;
    margin-left: -5px;
  }
  .table{
    margin: 0px -75px;
    font-size: 50%;
  }
  .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .table td:first-child{
    text-align: center;
    max-width: auto;
  }
  .table, th, td{
    border: 1px solid rgb(0,0,0) !important;
  }
  .card{
    border-bottom: 1px solid rgb(0,0,0);
  }
  .card:last-child{
    border-bottom: 0px;
  }
}
@media screen and (max-width: 768px) {
  .container-fluid{
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #error .panel .panel-danger{
    width: 90%;
  }
};
